@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    scroll-behavior: smooth !important;
    font-family: 'Montserrat', sans-serif;
}

#nav-bar {
    padding: 20px 20px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: sticky;
    width: 100%;
    background-color: rgba(20, 18, 18, 0.699);
}

ul {
    display: flex;
    flex-direction: row-reverse;
}

li {
    text-decoration: none;
    list-style: none;
    margin-left: -27px;
    font-size: 23px;
    margin-right: 45px;
}

.nav-link a {
    text-decoration: none;
    color: black;
    transition: .2s all ease-in;
}

.nav-link a:hover {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.719);
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}


@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}

form {
    width: 100%;
    background-color: black;
    height: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin: auto;
}

form #email {
    width: 300px;
    height: 50px;
    padding: 0px 10px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 3px white solid;
    outline: none;
}

form #submit {
    border: 3px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    width: 100px;
    height: 30px;
    transition: all .2s ease-in;
}


form #submit:hover {
    width: 150px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.flex-container {
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px;
}

.flex-items {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}
